@model ProjectDeleteViewModel

<form asp-controller="Project" asp-action="Delete" method="post">
    <button type="submit" class="btn btn-delete">
        <i class="fa-duotone fa-solid fa-trash"></i>
        <span>Delete</span>
    </button>
</form>