<div id="project-list">
    <div class="project-card">
        <div class="project-card-header">
            <div class="header-right">
                <div class="image-project">
                    <img src="~/Images/client-default.svg" alt="Project Image" />
                </div>

                <div class="project-info">
                    <span class="project-name">Website Redesign</span>
                    <span class="client-name">GitLab Inc.</span>
                </div>
            </div>
            

            <div id="project-actions-container">
                <button type="button" data-type="dropdown" data-target="#project-dropdown" class="btn-action">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div id="project-dropdown" class="dropdown">
                    <div class="dropdown-body">
                        <nav class="dropdown-actions">
                            <a class="dropdown-action" href="#">
                                <i class="fa-duotone fa-solid fa-pen-to-square"></i>
                                <span>Edit</span>
                            </a>
                        </nav>
                        <nav class="dropdown-actions">
                            <a class="dropdown-action" href="#">
                                <i class="fa-duotone fa-solid fa-user-plus"></i>
                                <span>Add Member</span>
                            </a>
                        </nav>
                        <div class="divider"></div>
                        <nav class="dropdown-actions">
                            <a class="dropdown-action trash" href="#">
                                <i class="fa-duotone fa-solid fa-trash"></i>
                                <span>Delete</span>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="project-card-body">
            <p>It is necessary to develop a website redesign in a corporate style.</p>
        </div>

        <div class="project-card-footer">
            <div class="project-time">
                <i class="fa-duotone fa-solid fa-clock"></i>
                <span class="">1 week left</span>
            </div>

            <div class="project-members">
                <img src="~/Images/avatar-default1.svg" class="member avatar" />
                <img src="~/Images/avatar-default1.svg" class="member avatar" />
            </div>
        </div>
    </div>




</div>