<div class="project-status">
    <a class="status-all active">
        ALL [0]
    </a>
    <a class="status-started">
        STARTED [0]
    </a>
    <a class="status-complete">
        COMPLETED [0]
    </a>
</div>