<div id="project-list">
    <div class="project-card">
        <div class="project-card-header">
            <div class="header-right">
                <div class="image-project">
                    <img src="~/Images/client-default.svg" alt="Project Image" />
                </div>

                <div class="project-info">
                    <span class="project-name">Website Redesign</span>
                    <span class="client-name">GitLab Inc.</span>
                </div>
            </div>
            

            <div class="project-actions">
                <button type="button" class="btn-edit" data-modal="true" data-target="#editProjectModal" data-project-id="1"></button>
            </div>
            
        </div>

        <div class="project-card-body">
            <p>It is necessary to develop a website redesign in a corporate style.</p>
        </div>

        <div class="project-card-footer">
            <div class="project-time">
                <i class="fa-duotone fa-solid fa-clock"></i>
                <span class="">1 week left</span>
            </div>

            <div class="project-members">
                <img src="~/Images/avatar-default1.svg" class="member avatar" />
                <img src="~/Images/avatar-default1.svg" class="member avatar" />
            </div>
        </div>
    </div>




</div>