@model UserProfileViewModel

@{
    ViewData["Title"] = Model.Title;
}

<partial name="Partials/Components/UsersPartials/_AddUserProfile" model="Model" />

<div class="page-header">
    <h1>@ViewData["Title"]</h1>
    <button type="button" data-modal="true" data-target="#addUserProfileModal" class="btn btn-add">Add User</button>
</div>

<section id="users">
    <partial name="Partials/Components/UsersPartials/_UserProfileList" model="Model.UserProfileList" /> 
</section>