@model ProjectViewModel

@{
    ViewData["Title"] = "Projects";
}

<!-- Partials -->
<partial name="Partials/Components/ProjectsPartials/_AddProject" model="Model.RegistrationForm" />
<!-- Partials -->

@* UpdateForm with Ajax->Fetch *@
<div id="editProjectModal" class="modal">
    <div class="modal-content"></div>
</div>
@* UpdateForm*@


@* UpdateStatus with Ajax->Fetch *@
<div id="editProjectStatusModal" class="modal">
    <div class="modal-content"></div>
</div>
@* UpdateStatus*@


<section class="projects">
    <div class="page-header">
        <h1>@ViewData["Title"]</h1>
        @if (User.IsInRole("Admin"))
        {
            <button type="button" data-modal="true" data-target="#addProjectModal" class="btn btn-add">Add Project</button>
        }
    </div>

    <partial name="Partials/Components/ProjectsPartials/_ProjectStatusHeader" />

    <div id="project-list">
        <partial name="Partials/Components/ProjectsPartials/_ProjectItemList" model="Model.ProjectList" />
    </div>
</section>