@model ClientViewModel

@{
    ViewData["Title"] = "Clients";
}

<!-- #Partials -->
<partial name="Partials/Components/ClientsPartials/_AddClient" model="Model.RegistrationForm" />
<!-- #Partials -->

@* UpdateForm with Ajax->Fetch *@
<div id="editClientModal" class="modal">
    <div class="modal-content"></div>
</div>
@* UpdateForm *@

<section class="clients">
    <div class="page-header">
        <h1>@ViewData["Title"]</h1>
        <button type="button" data-modal="true" data-target="#addClientModal" class="btn btn-add">Add Client</button>
    </div>

    <div id="clients">
        <partial name="Partials/Components/ClientsPartials/_ClientsItemList" model="Model.ClientList" />
    </div>
</section>