@model UserProfileViewModel

@{
    ViewData["Title"] = Model.Title;

}


<div id="addMemberModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <h3>@ViewData["Title"]</h3>
        </div>







    </div>
</div>