@model SignUpViewModel

@{
    Layout = "_Layout_CenterScreen";
    ViewData["Title"] = Model.Title;
}

<section id="login">
    <h1>@ViewData["Title"]</h1>

    @if (!string.IsNullOrEmpty(Model.ErrorMessages))
    {
        <div class="alert-notification error">
            @Model.ErrorMessages
        </div>
    }
    else
    {
        <div class="alert-notification error" style="display:none;"></div>
    }

    <div class="form-group">
        <partial name="Partials/Authentication/_ExternalAuthenticationPartial" />
    </div>

    <div class="sign-in-or-divider">
        <div class="or-divider"></div>
        <span>OR</span>
        <div class="or-divider"></div>
    </div>

    <form asp-controller="Auth" asp-action="SignUpPage" method="post" novalidate enctype="multipart/form-data">
      

        <div class="form-group">
            <label asp-for="FullName"></label>
            <div class="field-group">
                <input asp-for="FullName" />
                <span asp-validation-for="FullName"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <div class="field-group">
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <div class="field-group">
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <div class="field-group">
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="form-signin-details">
                <div class="form-remember-me">
                    <input class="form-checkbox" type="checkbox" />
                    <span>I accept Terms and Conditions</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-submit">Log In</button>
        </div>

        <div class="form-footer">
            <span>Already have an account?</span>
            <a asp-control="Auth" asp-action="SignInPage">Login</a>
        </div>

    </form>
</section>