<form class="search-form" method="get" asp-controller="" asp-action="" novalidate>
    <i class="fa-sharp-duotone fa-solid fa-magnifying-glass"></i>
    <input class="form-search-input" type="search" placeholder="Search anyting..." />
</form>